/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Light grey background */
  margin: 0;
  padding: 0;
  color: black; /* Set text color to black */
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 15px 20px;
  text-align: center;
}

header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

header nav ul li {
  display: inline;
  margin: 0 10px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

header nav ul li a:hover {
  text-decoration: underline;
}

main {
  flex: 1; /* Take remaining vertical space */
  padding: 20px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Styles for components */
.component-login,
.component-register,
.component-dashboard,
.component-chatroom,
.component-profile,
.component-expertprofile,
.component-userprofile,
.component-home {
  background-color: white; /* White background for components */
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow for visual appeal */
}

.small-img {
  max-width: 100px; /* Adjust max-width for small images */
}

.medium-img {
  max-width: 300px; /* Adjust max-width for medium-sized images */
}
