/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Default background color for all pages */
}

header nav ul {
  list-style-type: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 10px;
}

main {
  padding: 20px;
  background-color: #ffffff; /* Background color for main content */
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #f1f1f1; /* Background color for footer */
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Image resizing */
img {
  max-width: 100%;
  height: auto;
}

/* Specific class for smaller images */
.small-img {
  max-width: 100px;
  height: auto;
}

.medium-img {
  max-width: 200px;
  height: auto;
}

/* Hide login and register buttons when logged in */
.logged-in #login, .logged-in #register {
  display: none;
}
